DATABASE_URL=your database URL, e.g. postgresql://user:password@localhost:5432/giftcards

API_PREFIX=/api
DEBUG=True

ALLOWED_ORIGINS=your allowed origins, e.g. https://localhost:3000,https://localhost:5173
